
              <form>
                <div class="form-group">
                  <label><%= f.label :image, '写真イメージ' %></label>
                  <%= f.file_field :image %>
                </div>
                <div class="form-group">
                  <label><%= f.label :email, 'メールアドレス' %></label>
                  <%= f.email_field :email, size: 32 %>
                </div>
                <div class="form-group">
                  <label><%= f.label :family_name, '氏名' %></label>
                  <%= f.text_field :family_name %>
                  <%= f.text_field :given_name %>
                </div>
                <div class="form-group">
                  <label><%= f.label :family_name, 'フリガナ' %></label>
                  <%= f.text_field :family_name_kana %>
                  <%= f.text_field :given_name_kana %>
                </div>

                <div class="form-group">
                  <div class="row">

                    <div class="col-xs-12 text-right">

                      <%= link_to 'キャンセル', :admin_root %>
                      </p>
                    </div>
                  </div>
                </div>