






                  <div class="form-group">
                  <%= f.label :category, 'カテゴリー（分野）' %>
                    <%= f.select :category, [["", Post::CATEGORY_NAMES]], :prompt => '以下よりお選び下さい' %>
                  </div>

                  <div class="form-group">
                  <%= f.label :title, '件名' %>
                    <%= f.text_field :title, :placeholder => "件名を記入してください。"  %>
                  </div>

                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <%= f.text_area :content, :placeholder => "投稿内容を記入してください。", :size => "40x5"  %>
                  </div>
                </div>