


  <div class="main-content-area">
    <!-- =-=-=-=-=-=-= Latest Questions  =-=-=-=-=-=-= -->

    <section class="white question-tabs padding-bottom-80" id="latest-post">
      <div class="container">
        <div class="row">
<br>
<div class="search-area container">
<p class="slogan-tag-line">誰でも自由に掲示板</p>
  
  </div>


<div class="panel-body">

                <div id="tab1" class="tab-pane active">
                 <table>

                 <% @infos.each do |i| %>
                 <tr>
                   
                   <td>1</td>
                  <td>「掲示板の使い方」</td>
                  <td><%= link_to '詳細', [:howto_member, i] %></td>
                  
                  </tr>
                  <tr>
                   
                   <td>2</td>
                  <td>「発足の経緯と趣旨」</td>
                  <td><%= link_to '詳細', [:why_member, i] %></td>
                  
                  </tr>
                  <tr>
                   
                   <td>3</td>
                  <td>「集合型HP雛形の無料配布」</td>
                  <td><%= link_to '詳細', [:vision_member, i] %></td>
                  
                  </tr>
                  <% end %>
                </table>

                </div>
              </div>




            <div class="panel-body">
              <p>掲示板の利用登録をすれば地域に関係なく誰でも投稿できます。（モバイル対応）</p>

                <div id="tab1" class="tab-pane active">
                 <table>
                  <tr>

                    <th class="category">分類</th>
                    <th>件名</th>
                    <th>新しい返信</th>
                    <th>コメント数</th>
                    <th>投稿日</th>
                  </tr>
                <% @posts.each do |m| %>
                  <!-- Question Listing -->

                 <tr>
                   <td class="category"><%= link_to m.category, member_select_path( :category => m.category )%></td>
                  <td><%= link_to m.title, [:member, m] %></td>
                  <td><% m.comments.last(1).each do |k| %>
                  <%= link_to k.content.truncate(14), [:member, m] %>...
                  <% end %>
                  </td>

                  <td><%= link_to m.comments.count, [:member, m] %></td>
                  <td class="time"><%= l m.created_at, format: :short %></td>
                  </tr>
                  <% end %>
                </table>

                </div>
              </div>
            </div>

          </div>
        </div>