
<div class="full-section search-section">
    <div class="search-area container">
      <h3 class="search-title">ニューエイジ消費者コミュニティー牛窓（ホームページ立ち上げ中）</h3>
      <p class="search-tag-line">目に見えない「愛の心」を形ある「物」に現す人たち。私たち消費者はそんな生産者や提供者を求めています。<br>消費者のコミュニケーションを中心にしたゆるゆるほんわかコミュニティーです。</p>
      
    </div>
  </div>


  <section class="custom-padding" id="clients">
      <div class="container">
        <!-- Row -->
        <div class="row">

          <!-- col-md-2 client-block -->
          <div class="col-md-2 col-xs-6 col-sm-4 client-block">
            <!-- client-item client-item-style-2 -->
            <h5><%= link_to '加工食品・海産物' , :member_prod %></h5>
            <div class="client-item client-item-style-2">

                <%= link_to image_tag("product.jpg"), :member_prod %>

            </div>
            <!-- /client-item client-item-style-2 -->
          </div>
          <!-- /col-md-2 client-block -->
          
          <!-- col-md-2 client-block -->
          <div class="col-md-2 col-xs-6 col-sm-4 client-block">
            <!-- client-item client-item-style-2 -->
            <h5><%= link_to '雑貨・工房・アート' , :member_art %></h5>
            <div class="client-item client-item-style-2">
                <%= link_to image_tag("toy.jpg"), :member_art %>
            </div>
            <!-- /client-item client-item-style-2 -->
          </div>
          <!-- /col-md-2 client-block -->

          <!-- col-md-2 client-block -->
          <div class="col-md-2 col-xs-6 col-sm-4 client-block">
            <!-- client-item client-item-style-2 -->
            <h5><%= link_to 'イベント紹介' , :member_event %></h5>
            <div class="client-item client-item-style-2">
                <%= link_to image_tag("event.jpg"), :member_event %>
            </div>
            <!-- /client-item client-item-style-2 -->
          </div>
          <!-- /col-md-2 client-block -->



          <!-- col-md-2 client-block -->
          <div class="col-md-2 col-xs-6 col-sm-4 client-block">
            <!-- client-item client-item-style-2 -->
            <h5><%= link_to 'メンタルケア' , :member_care %></h5>
            <div class="client-item client-item-style-2">
                <%= link_to image_tag("mental.jpg"), :member_care %>
            </div>
            <!-- /client-item client-item-style-2 -->
          </div>
          <!-- /col-md-2 client-block -->

          <!-- col-md-2 client-block -->
          <div class="col-md-2 col-xs-6 col-sm-4 client-block">
            <!-- client-item client-item-style-2 -->
            <h5><%= link_to '移住・田畑の情報' , :member_move %></h5>
            <div class="client-item client-item-style-2">
                <%= link_to image_tag("ijyu.JPG"), :member_move %>
            </div>
            <!-- /client-item client-item-style-2 -->
          </div>
          <!-- /col-md-2 client-block -->

          <!-- col-md-2 client-block -->
          <div class="col-md-2 col-sm-4 col-xs-6 client-block">
            <!-- client-item client-item-style-2 -->
             <h5><%= link_to '農産畜産品' , :member_vegetable %></h5>
            <div class="client-item client-item-style-2">
                <%= link_to image_tag("vegetable.jpg"), :member_vegetable %>
            </div>
            <!-- /client-item client-item-style-2 -->
          </div>
          <!-- /col-md-2 client-block -->

          <!-- col-md-2 client-block -->
          <div class="col-md-2 col-xs-6 col-sm-4 client-block">
            <!-- client-item client-item-style-2 -->
             <h5><%= link_to 'グループ紹介' , :member_group %></h5>
            <div class="client-item client-item-style-2">
                <%= link_to image_tag("gloup.jpg"), :member_group %>
            </div>
            <!-- /client-item client-item-style-2 -->
          </div>
          <!-- /col-md-2 client-block -->

         

          <!-- col-md-2 client-block -->
          <div class="col-md-2 col-xs-6 col-sm-4 client-block">
            <!-- client-item client-item-style-2 -->
            <h5><%= link_to 'あげます・欲しいです' , :member_give %></h5>
            <div class="client-item client-item-style-2">
                <%= link_to image_tag("give.jpg"), :member_give %>
            </div>
            <!-- /client-item client-item-style-2 -->
          </div>
          <!-- /col-md-2 client-block -->

          <!-- col-md-2 client-block -->
          <div class="col-md-2  col-xs-6 col-sm-4 client-block">
            <!-- client-item client-item-style-2 -->
            <h5><%= link_to 'パン・お菓子' , :member_sweets %></h5>
            <div class="client-item client-item-style-2">
                <%= link_to image_tag("bread.jpg"), :member_sweets %>
            </div>
            
            <!-- /client-item client-item-style-2 -->
          </div>
          <!-- /col-md-2 client-block -->
         
          <!-- col-md-2 client-block -->
          <div class="col-md-2 col-xs-6 col-sm-4 client-block">
            <!-- client-item client-item-style-2 -->
             <h5><%= link_to '売店・食堂' , :member_store %></h5>
            <div class="client-item client-item-style-2">
                <%= link_to image_tag("shop.jpg"), :member_store %>
            </div>
            <!-- /client-item client-item-style-2 -->
          </div>
          <!-- /col-md-2 client-block -->

           <!-- col-md-2 client-block -->
          <div class="col-md-2 col-xs-6 col-sm-4 client-block">
            <!-- client-item client-item-style-2 -->
            <h5><%= link_to 'その他・雑談' , :member_ship %></h5>
            <div class="client-item client-item-style-2">
                <%= link_to image_tag("ship.jpg"), :member_ship %>
            </div>
            <!-- /client-item client-item-style-2 -->
          </div>
          <!-- /col-md-2 client-block -->



          <!-- col-md-2 client-block -->
          <div class="col-md-2 col-xs-6 col-sm-4 client-block">
            <!-- client-item client-item-style-2 -->
            <h5>地図</h5>
            <div class="client-item client-item-style-2">
              <a title="Client Logo" href="#">
                <%= image_tag("map.PNG") %>
              </a>
            </div>
            <!-- /client-item client-item-style-2 -->
          </div>
          <!-- /col-md-2 client-block -->


        </div>
        <!-- Row End -->
      </div>
      <!-- end container -->
    </section>
    <!-- =-=-=-=-=-=-= Our Clients -end =-=-=-=-=-=-= -->


<div class="main-content-area">
    <!-- =-=-=-=-=-=-= Latest Questions  =-=-=-=-=-=-= -->

    <section class="white question-tabs padding-bottom-80" id="latest-post">
      <div class="container">
        <div class="row">
<br>
<div class="search-area container">
<p class="slogan-tag-line"><i class="icon ion-clipboard"></i>　誰でも自由に掲示板</p>
<% if current_member %>
  <p>掲示板トップ画面：質問や、希望、連絡などの新しい件名を立てる場合は下の各分類のどれかをクリックもしくは<%= link_to 'ここ', :member_posts %>をクリックしてください</p>
<!--<%= form_for [ :member, @post ], :html => {:class => "post-form clearfix"} do |f| %>

<%= render 'post_form', f: f %>

  <%= f.submit '投稿する' %>
  
<% end %>-->
  
<% else %>
<%= link_to '掲示板参加登録はこちら、ニックネームでも登録できます。', :member_signup, :class => "btn btn-primary btn-lg btn-block" %>
<% end %>
<p>掲示板の利用登録をすれば地域に関係なく誰でも投稿できます。（モバイル対応）</p>

  </div>
            <div class="panel-body">

                <div id="tab1" class="tab-pane active">
                 <table>
                  <tr>

                    <th>分類</th>
                    <th>件名</th>
                    <th>投稿日</th>
                    <th>新しい返信</th>
                    <th>コメント数</th>
                  </tr>
                <% @posts.each do |m| %>
                  <!-- Question Listing -->

                 <tr>
                   
                   <td><%= link_to m.category, member_select_path( :category => m.category )%></td>
                  <td><%= link_to m.title, [:member, m] %></td>
                  <td><%= l m.created_at, format: :short %></td>

                  <td><% m.comments.last(1).each do |k| %>
                  <%= link_to k.content.truncate(14), [:member, m] %>...
                  <% end %>
                  </td>

                  <td><%= link_to m.comments.count, [:member, m] %></td>
                  </tr>
                  <% end %>
                </table>

                </div>
              </div>
            </div>

          </div>
        </div>
      </section>
    </div>

