
<div class="full-section search-section">
    <div class="search-area container">
      <h3 class="search-title">ニューエイジ消費者コミュニティー牛窓（瀬戸内市）</h3>
      <p class="search-tag-line">目に見えない「愛の心」を形ある「物」に現す人たち。 <br>私たち消費者はそんな生産者や提供者を求めています。<br>牛窓を中心に提供者への要望や質問など<br>消費者のコミュニケーションを中心にしたゆるゆるほんわかコミュニティー</p>
      
    </div>
  </div>


  <section class="custom-padding" id="clients">
      <div class="container">
        <!-- Row -->
        <div class="row">

          <!-- col-md-2 client-block -->
          <div class="col-md-2 col-xs-6 col-sm-4 client-block">
            <!-- client-item client-item-style-2 -->
            <h5><%= link_to '加工食品・海産物' , :member_prod %></h5>
            <div class="client-item client-item-style-2">

                <%= link_to image_tag("product.jpg"), :member_prod %>

            </div>
            <!-- /client-item client-item-style-2 -->
          </div>
          <!-- /col-md-2 client-block -->
          
          <!-- col-md-2 client-block -->
          <div class="col-md-2 col-xs-6 col-sm-4 client-block">
            <!-- client-item client-item-style-2 -->
            <h5><%= link_to '工房・アート' , :member_art %></h5>
            <div class="client-item client-item-style-2">
                <%= link_to image_tag("toy.jpg"), :member_art %>
            </div>
            <!-- /client-item client-item-style-2 -->
          </div>
          <!-- /col-md-2 client-block -->

          <!-- col-md-2 client-block -->
          <div class="col-md-2 col-xs-6 col-sm-4 client-block">
            <!-- client-item client-item-style-2 -->
            <h5><%= link_to 'イベント紹介' , :member_event %></h5>
            <div class="client-item client-item-style-2">
                <%= link_to image_tag("event.jpg"), :member_event %>
            </div>
            <!-- /client-item client-item-style-2 -->
          </div>
          <!-- /col-md-2 client-block -->



          <!-- col-md-2 client-block -->
          <div class="col-md-2 col-xs-6 col-sm-4 client-block">
            <!-- client-item client-item-style-2 -->
            <h5><%= link_to 'メンタルケア' , :member_care %></h5>
            <div class="client-item client-item-style-2">
                <%= link_to image_tag("mental.jpg"), :member_care %>
            </div>
            <!-- /client-item client-item-style-2 -->
          </div>
          <!-- /col-md-2 client-block -->

          <!-- col-md-2 client-block -->
          <div class="col-md-2 col-xs-6 col-sm-4 client-block">
            <!-- client-item client-item-style-2 -->
            <h5><%= link_to '移住・田畑の情報' , :member_move %></h5>
            <div class="client-item client-item-style-2">
                <%= link_to image_tag("ijyu.JPG"), :member_move %>
            </div>
            <!-- /client-item client-item-style-2 -->
          </div>
          <!-- /col-md-2 client-block -->

          <!-- col-md-2 client-block -->
          <div class="col-md-2 col-sm-4 col-xs-6 client-block">
            <!-- client-item client-item-style-2 -->
             <h5><%= link_to '農産畜産品' , :member_vegetable %></h5>
            <div class="client-item client-item-style-2">
                <%= link_to image_tag("vegetable.jpg"), :member_vegetable %>
            </div>
            <!-- /client-item client-item-style-2 -->
          </div>
          <!-- /col-md-2 client-block -->

          <!-- col-md-2 client-block -->
          <div class="col-md-2 col-xs-6 col-sm-4 client-block">
            <!-- client-item client-item-style-2 -->
             <h5><%= link_to 'グループ紹介' , :member_group %></h5>
            <div class="client-item client-item-style-2">
                <%= link_to image_tag("gloup.jpg"), :member_group %>
            </div>
            <!-- /client-item client-item-style-2 -->
          </div>
          <!-- /col-md-2 client-block -->

          <!-- col-md-2 client-block -->
          <div class="col-md-2 col-xs-6 col-sm-4 client-block">
            <!-- client-item client-item-style-2 -->
            <h5><%= link_to 'アースシップを造りたい' , :member_ship %></h5>
            <div class="client-item client-item-style-2">
                <%= link_to image_tag("ship.jpg"), :member_ship %>
            </div>
            <!-- /client-item client-item-style-2 -->
          </div>
          <!-- /col-md-2 client-block -->

          <!-- col-md-2 client-block -->
          <div class="col-md-2 col-xs-6 col-sm-4 client-block">
            <!-- client-item client-item-style-2 -->
            <h5><%= link_to 'あげます・欲しいです' , :member_give %></h5>
            <div class="client-item client-item-style-2">
                <%= link_to image_tag("give.jpg"), :member_give %>
            </div>
            <!-- /client-item client-item-style-2 -->
          </div>
          <!-- /col-md-2 client-block -->

          <!-- col-md-2 client-block -->
          <div class="col-md-2  col-xs-6 col-sm-4 client-block">
            <!-- client-item client-item-style-2 -->
            <h5><%= link_to 'パン・お菓子' , :member_sweets %></h5>
            <div class="client-item client-item-style-2">
                <%= link_to image_tag("bread.jpg"), :member_sweets %>
            </div>
            
            <!-- /client-item client-item-style-2 -->
          </div>
          <!-- /col-md-2 client-block -->
          <!-- col-md-2 client-block -->
          <div class="col-md-2 col-xs-6 col-sm-4 client-block">
            <!-- client-item client-item-style-2 -->
             <h5><%= link_to '日用雑貨' , :member_goods %></h5>
            <div class="client-item client-item-style-2">
                <%= link_to image_tag("goods.jpg"), :member_goods %>
            </div>
            <!-- /client-item client-item-style-2 -->
          </div>
          <!-- /col-md-2 client-block -->
          <!-- col-md-2 client-block -->
          <div class="col-md-2 col-xs-6 col-sm-4 client-block">
            <!-- client-item client-item-style-2 -->
             <h5><%= link_to '売店・食堂' , :member_store %></h5>
            <div class="client-item client-item-style-2">
                <%= link_to image_tag("shop.jpg"), :member_store %>
            </div>
            <!-- /client-item client-item-style-2 -->
          </div>
          <!-- /col-md-2 client-block -->



          <!-- col-md-2 client-block -->
          <div class="col-md-2 col-xs-6 col-sm-4 client-block">
            <!-- client-item client-item-style-2 -->
            <h5>地図</h5>
            <div class="client-item client-item-style-2">
              <a title="Client Logo" href="#">
                <%= image_tag("map.PNG") %>
              </a>
            </div>
            <!-- /client-item client-item-style-2 -->
          </div>
          <!-- /col-md-2 client-block -->

          <!-- col-md-2 client-block -->
          <div class="col-md-2 col-xs-6 col-sm-4 client-block">
            <!-- client-item client-item-style-2 -->
            <h5><%= link_to '遊ぶ' , :member_play %></h5>
            <div class="client-item client-item-style-2">
                <%= link_to image_tag("play.jpg"), :member_play %>
            </div>
            
            <!-- /client-item client-item-style-2 -->
          </div>
          <!-- /col-md-2 client-block -->


         

        </div>
        <!-- Row End -->
      </div>
      <!-- end container -->
    </section>
    <!-- =-=-=-=-=-=-= Our Clients -end =-=-=-=-=-=-= -->


<div class="main-content-area">
    <!-- =-=-=-=-=-=-= Latest Questions  =-=-=-=-=-=-= -->

    <section class="white question-tabs padding-bottom-80" id="latest-post">
      <div class="container">
        <div class="row">
<br>
<div class="search-area container">
<p class="slogan-tag-line">消費者掲示板</p>
<% if current_member %>
<%= form_for [ :member, @post ], :html => {:class => "post-form clearfix"} do |f| %>
<%= render 'post_form', f: f %>
  <%= f.submit '投稿する' %>
<% end %>
<% else %>
<%= link_to 'メンバー登録はこちら', :member_signup, :class => "btn btn-primary btn-lg btn-block" %>
<% end %>
  </div>

            <div class="panel-body">
              <p>掲示板の利用登録をすれば地域に関係なく誰でも投稿できます。（モバイル対応）</p>

                <div id="tab1" class="tab-pane active">
                 <table>
                  <tr>

                    <th>分類</th>
                    <th>件名</th>
                    <th>投稿日</th>
                    <!--<th>返信</th>-->
                    <th>コメント数</th>
                  </tr>
                <% @posts.each do |m| %>
                  <!-- Question Listing -->

                 <tr>
                   
                   <td><%= link_to m.category, [:member, m] %></td>
                  <td><%= link_to m.title, [:member, m] %></td>
                  <td><%= l m.created_at, format: :short %></td>

                  <!--<td><%= m.comments.last(1).each do |k| %><%= k.content.truncate(20) %><% end %></td>-->

                  <td><%= m.comments.count %></td>
                  </tr>
                  <% end %>
                </table>

                </div>
              </div>
            </div>

          </div>
        </div>
      </section>
    </div>

