                <div class="form-group">
                  <label><%= f.label :name, 'ショップ名称' %></label>
                  <%= f.text_field :name, :class => "form-control" %>
                </div>
                <div class="form-group">
                  <label><%= f.label :category, 'カテゴリー' %></label>

                  <%= f.select :category, [["", Shop::CATEGORY_NAMES]], :class => "form-control", :prompt => 'お店のカテゴリーをお選び下さい' %>
                </div>
                <div class="form-group">
                  <label><%= f.label :url, 'サイトURL' %></label>
                  <%= f.text_field :url, :class => "form-control" %>
                </div>


                <div class="form-group">
                  <label><%= f.label :email, 'メールアドレス' %></label>
                  <%= f.text_field :email, :class => "form-control" %>
                </div>
                <div class="form-group">
                  <label><%= f.label :phone, '電話番号' %></label>
                  <%= f.phone_field :phone, :class => "form-control" %>
                </div>

                <div class="form-group">
                  <div class="row">


                  </div>
                </div>