<!DOCTYPE html>
<html>
  <head>
    <title>Okayama</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'admin/shared/header' %>
    <%= yield %>
     <footer>
    <div class="footer-copyright">
      <div class="auto-container clearfix">
        <!--Copyright-->
        <div class="copyright text-center">Copyright 2016 &copy; ニューエイジ消費者コニュニティー運営委員会 All Rights Reserved</div>
      </div>
    </div>
  </footer>
  </body>
</html>
