
<!DOCTYPE html>
<html>
  <head>
    <title>Okayama</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.4.1/css/ionicons.min.css">

  </head>

  <body>
  <%= render 'member/shared/header' %>

    <%= yield %>
     <footer>
    <div class="footer-copyright">
      <div class="auto-container clearfix">
        <!--Copyright-->
        <div class="copyright text-center">Copyright 2017 &copy; 牛窓ニューエイジボランティアの会 All Rights Reserved</div>
      </div>
    </div>
  </footer>
  </body>
</html>
